@use "sass:math";
@use "sass:color";
@use 'variables' as v;

/** Media Queries **/
@mixin phone {
    @media (min-width: #{v.$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{v.$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{v.$desktop}) {
        @content;
    }
}
@mixin grid($columns, $gap ) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin button($bgColor, $display) {
    background-color: $bgColor;
    color: v.$white;
    font-weight: v.$bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: math.div(v.$gap, 2);
    display: $display;

    &:hover {
        background-color: color.scale($bgColor, $lightness: -10%);
        transform: scale(102%);
        cursor: pointer;
    }
}